*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #fafafa;
  color: #111;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.spacer {
  height: 100vh;
}

.animated {
  width: 320px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #111;
  color: #fff;
  position: relative;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
}
